USE [otherdb]
GO
/****** Object:  Table [dbo].[reg]    Script Date: 11/28/2025 1:45:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reg](
	[idno] [float] NULL,
	[title] [nvarchar](255) NULL,
	[gen] [nvarchar](255) NULL,
	[cusname] [nvarchar](255) NULL,
	[cusaddress] [nvarchar](255) NULL,
	[municipilityvillage] [nvarchar](255) NULL,
	[tole] [nvarchar](255) NULL,
	[telephone] [nvarchar](255) NULL,
	[mobile] [float] NULL,
	[grandfather] [nvarchar](255) NULL,
	[father] [nvarchar](255) NULL,
	[husbandwife] [nvarchar](255) NULL,
	[nomineename] [nvarchar](255) NULL,
	[nomineerelation] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[reg] ([idno], [title], [gen], [cusname], [cusaddress], [municipilityvillage], [tole], [telephone], [mobile], [grandfather], [father], [husbandwife], [nomineename], [nomineerelation]) VALUES (312, N'Mrs', N'Female', N'Mrs. Namrata Sharma', N'Aarughat - 3, Gorakha, Aarughat', N'Aarughat', N'Aarughat - 3, Gorakha', NULL, 9846648237, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[reg] ([idno], [title], [gen], [cusname], [cusaddress], [municipilityvillage], [tole], [telephone], [mobile], [grandfather], [father], [husbandwife], [nomineename], [nomineerelation]) VALUES (313, N'Mr', N'Male', N'Mr. Dharmendra Kumar Singh', N'Kathmandu -16, Dudhchok, Kathmandu', N'Kathmandu', N'Kathmandu -16, Dudhchok', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[reg] ([idno], [title], [gen], [cusname], [cusaddress], [municipilityvillage], [tole], [telephone], [mobile], [grandfather], [father], [husbandwife], [nomineename], [nomineerelation]) VALUES (314, N'Mrs', N'Female', N'Mrs. Sunita Shrestha', N'Bhimsenstyhan -20,Kathmandu, Kathmandu', N'Kathmandu', N'Bhimsenstyhan -20,Kathman', NULL, 9851058977, N'Babu lal Shrestha', N'Babu kaji Shrestha', N'Ajay Shrestha', N'Ajay Shrestha', N'Wife')
GO
